<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="projects-form" action="/projects/add" method="POST">
                    <div class="form-group col-sm-3 mb-3">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter Title">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="summary">Summary</label>
                        <input type="text" class="form-control" name="summary" placeholder="Enter Summary">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="starting_date">Starting Date (YYYY-MM-DD)</label>
                        <input type="text" class="form-control" name="starting_date" placeholder="Enter Starting Date">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="ending_date">Ending Date (YYYY-MM-DD)</label>
                        <input type="text" class="form-control" name="ending_date" placeholder="Enter Ending Date">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="funding">Funding (100.000 to 1.000.000)</label>
                        <input type="text" class="form-control" name="funding" placeholder="Enter Funding (in EUR)">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="duration">Duration (max 1461 days)</label>
                        <input type="text" class="form-control" name="duration" placeholder="Enter Duration (in days)">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="staff_id">Managing Staff (ID)</label>
                        <input type="text" class="form-control" name="staff_id" placeholder="Enter Staff ID">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="program_id">ELIDEK Program (ID)</label>
                        <input type="text" class="form-control" name="program_id" placeholder="Enter Program ID">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="organization_id">Managing Organization (ID)</label>
                        <input type="text" class="form-control" name="organization_id" placeholder="Enter Organization ID">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="researcher_id">Supervising Researcher (ID)</label>
                        <input type="text" class="form-control" name="researcher_id" placeholder="Enter Researcher ID">
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit-custom">ADD</button>
                </form>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>