<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>


<div class="container" id="row-container">
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Projects</h4>
                    <p class="card-text" id="paragraph">Display all Projects in our Database!</p>
                    <a class="btn btn-primary" id="show-btn" href="/projects">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Organizations</h4>
                    <p class="card-text" id="paragraph">Display all Organizations in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/organizations">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Researchers</h4>
                    <p class="card-text" id="paragraph">Display all Researchers in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers">Show</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Programs</h4>
                    <p class="card-text" id="paragraph">Display all Programs in our Database!</p>
                    <a class="btn btn-primary" id="show-btn" href="/program">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Deliverables</h4>
                    <p class="card-text" id="paragraph">Display all Deliverables in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/deliverables">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Staff</h4>
                    <p class="card-text" id="paragraph">Display all Staff in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/staff">Show</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Evaluations</h4>
                    <p class="card-text" id="paragraph">Display all Project Evaluations in our Database!</p>
                    <a class="btn btn-primary" id="show-btn" href="/evaluating">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Projects per Researcher!</h4>
                    <p class="card-text" id="paragraph">Query 3.2a<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/2a">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Phone Numbers per Organization!</h4>
                    <p class="card-text" id="paragraph">Query 3.2b<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/2b">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 1a</h4>
                    <p class="card-text" id="paragraph">Display all Programs in our Database!</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/1a">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 1b</h4>
                    <p class="card-text" id="paragraph">Display all Projects and Reasearchers in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/1b">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 1c</h4>
                    <p class="card-text" id="paragraph">Display all Researchers per Project in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/1c">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 3</h4>
                    <p class="card-text" id="paragraph">Display results of Query 3!</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/3">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 4</h4>
                    <p class="card-text" id="paragraph">Display results of Query 4!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/4">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 5</h4>
                    <p class="card-text" id="paragraph">Display results of Query 5!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/5">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 6</h4>
                    <p class="card-text" id="paragraph">Display results of Query 6!</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/6">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 7</h4>
                    <p class="card-text" id="paragraph">Display results of Query 7!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/7">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Query 8</h4>
                    <p class="card-text" id="paragraph">Display results of Query 8!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/8">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Add Project</h4>
                    <p class="card-text" id="paragraph">Add Projects in our Database!</p>
                    <a class="btn btn-primary" id="show-btn" href="/projects-add">Add</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Add Researcher</h4>
                    <p class="card-text" id="paragraph">Add Researchers in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers-add">Add</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Add Organization</h4>
                    <p class="card-text" id="paragraph">Add Organizations in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/organizations-add">Add</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Add Deliverables</h4>
                    <p class="card-text" id="paragraph">Add Deliverables in our Database!</p>
                    <a class="btn btn-primary" id="show-btn" href="/deliverables-add">Add</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Add Staff</h4>
                    <p class="card-text" id="paragraph">Add Staff in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/staff-add">Add</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Add Program</h4>
                    <p class="card-text" id="paragraph">Add Program in our Database!<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/program-add">Add</a>
                </div>
            </div>
        </div>
    </div>

</div>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>